.grid-container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(6, auto);
    grid-gap: 8px;
    height: 90vh; 
    padding: 5px;
}

.page-header {
    grid-column: 1 / 5;
    grid-row: 1;
}

.bio-pic {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    padding: 10%;
}

.middle {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
    padding: 5%;
}

.other-info {
    grid-column: 4 / 5;
    grid-row: 2 / 5;
    padding: 10%;
}

.footer {
    grid-column: 1 / 5;
    grid-row: 6;
}

.box {
    background-color: bisque;
    color: black;
    border-radius: 5px;
    text-align: center;
}

.footer {
    background-color: black;
    color: white;
}

h1 {
    color: black;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-shadow: 3px 3px 3px #397d91;
}

div {
    color: black;
    font-size: medium;
    font-family: "Poppins", sans-serif;
    align-items: center;
}
body {
    background-color: gray;
}

/* Links Styling */
.grid-container a:link {
    color: rgb(7, 69, 163);
}
 
.grid-container a:visited {
    color: rgb(11, 80, 11);
} 
  
.grid-container a:hover {
  color: blue;
}

.grid-container a:active {
    color: rgb(202, 18, 18);
}

.grid-container hr.black-solid {
    border-top: 1px, solid, black;
}

/*  Styles for Project Portfolio page */
.grid-projects-container {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    grid-gap: 8px;
    height: 90vh; 
    padding: 5px;
}

.project-header {
    grid-column: 1 / 4;
    grid-row: 1;
}

.project-footer {
    grid-column: 1 / 4;
    grid-row: 3;
}

.card1 .card2 .card3 {
    grid-row: 2;
}

.card1 {
    grid-column: 1 / 2;
}

.card2 {
    grid-column: 2 / 3;
}

.card3 {
    grid-column: 3 / 4;
}

.project-card {
    padding: 12%;
    margin: 10px;
}

.license-attribute {
    font-size: x-small;
}

